@import url(darkmode.css);
/* * {
    outline: red solid 1px;
}  */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeee;
    margin: 0;
    padding: 0;
    color: #333;
}

.code-editor {
    display: flex;
    align-items: stretch;
    font-family: monospace;
    width: 50%;
    height: 400px;
    overflow: auto;
    background-color: #fff;
}

.line-numbers {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    color: #777777;
}

.line-number {
    margin-bottom: 1px;
    margin-left: 5px;
    font-size: 1.3em;
    color: #777777;
    overflow-wrap: break-word;
}
#source {
    flex-grow: 1;
    font-size: 1.3em;
    resize: none;
    border: none;
    outline: none;
    font-family: monospace;
}

.nav-header {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #2AA5F0;
    color: aliceblue;
    box-shadow: 0 0 11px rgba(22, 181, 255, 0.2);
}

#dark-mode-toggle {
    margin-right: 5%;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
}

#dark-mode-toggle:hover {
    background-color: #0C74B3;
    color: aliceblue;
    border-radius: 50%;
}

.logo {
    display: flex;
    width: 30%;
    gap: 10px;
    margin-left: 5%;
}

.header-sub {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5%;
}
.sel-lang {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: -15%;
}
#lang {
    height: fit-content;
    background-color: #0C74B3;
    border: none;
    color: aliceblue;
    font-weight: bold;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 10px;
}
.editor-out{
    display: flex;
}

#output {
    width: 50%;
    margin: 0 10px;
    font-size: 1.3em;
    resize: none;
}

#input {
    margin-left: 29%;
    width: 34.5%;
    font-size: 1.3em;
    border: none;
    resize: none;
    height: 120px;
}
.input-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-run, .btn-sub, .btn-runpg {
    /* margin-right: -20%; */
    height: fit-content;
    background-color: #2AA5F0;
    color: aliceblue;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(22, 181, 255, 0.2); 
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
}

.btn-runpg {
    margin-right: 5%;
}

.btn-run {
    margin-right: -5%;
}

.btn-sub {
    margin-right: 5%;
    background-color: #28d375;
    color: aliceblue;
    box-shadow: 0 0 20px rgba(22, 255, 138, 0.2); 
}

.dark-mode #dark-mode-toggle .fa-moon {
    display: none;
}

.dark-mode #dark-mode-toggle .fa-sun {
    display: inline;
}

#dark-mode-toggle .fa-sun {
    display: none;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.code-act, .code-act-inst {
    width: 40%;
    resize: horizontal;
    margin: 0 10px;
    background-color: rgb(255, 255, 255);
}

#activity {
    background-color: #dbd9d9;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    width: 95%;
    padding: 1%;
    font-size: 1rem;
}

.act-p {
    margin-left:10px;
}

.act-p-text {
    width: 95%;
    height: 40%;
}

.btn-run-act {
    position: absolute;
    margin-left: 71%;
    margin-top: -5%;
}

.act {
    /* background-color: #28d375; */
    background: linear-gradient(290.7deg, rgb(133, 255, 159) 2.3%, rgb(0, 172, 249) 100.2%);
    box-shadow: 0 0 15px rgba(22, 181, 255, 0.2);
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
}

.act-section {
    /* background-color: #d6d6d6;   */
    margin-top: 2%;
    padding: 1%;
}

.btn-scoreact {
    display: flex;
    margin: 0 3%;
    width: 40%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.act-desc {
    margin: 0 3%;
    margin-bottom: 3%;
}

.act-inst {
    border: .2px solid;
    margin-right: 1.5%;
    padding: 1%;
    border-radius: 10px;
}

#match-message {
    background-color: #f04b74;
    color: aliceblue;
    padding: .3%;
    border-radius: 10px;
    font-weight: bold;
    margin-left: -1%;
}
#score {
    width: 35px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    resize: none;
    background-color: transparent;
    color: aliceblue;
    margin-left: -0.9%;
    margin-top: 1.2px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute; */
}

.act-title {
    font-size: 1.5em;
}

.act-teacher {
    color: #777777;
}

.take-act {
    display: flex;
    justify-self: end;
    text-decoration: none;
    background: linear-gradient(111.5deg, rgb(20, 100, 196) 0.4%, rgb(33, 152, 214) 100.2%);
    padding: 3%;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 0 0 20px rgba(22, 181, 255, 0.2); 
    font-weight: bold;
}

.take-act:hover {
    border-radius: 0;
    text-decoration: underline;
}

.no-act {
    text-align: center;
    font-size: 2rem;
}

.no-act-pic {
    width: 400px;
    margin-top: 2%;
}

.act-play {
    display: flex;
    justify-content: space-between;
}

.playground {
    margin-top: 1%;
    margin-right: 25%;
    text-decoration: none;
    border: 1px dashed;
    margin-bottom: 1%;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
.playground:hover {
    border: 1px solid;
    border-radius: 0;
}

.create-act {
    margin-top: 1%;
    margin-left: 25%;
    text-decoration: none;
    border: 1px dashed transparent;
    margin-bottom: 1%;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.create-act:hover {
    border: 1px dashed;
    border-radius: 10px;
}